/*about 1*/

.about-section {
  padding: 0rem 4rem;
}

.about-img {
  width: 90%;
  height: 30rem;
  object-fit: cover;
  border-radius: 2px;
  margin: 0rem auto 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.about-section .about-text {
  padding-top: 1.5rem;
}

/* about menu */
/* style the txt */
.subheading--about {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: #3DBFF0;
}

.heading-section h2 {
  font-size: 1.9rem;
  font-weight: 700;
}

/* Style the tab */
.tab--about {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.tablinks--about{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  display: block;
  padding: 0.5rem 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tab--about  .tablinks--about.active {
  color: #fff;
  background: #3DBFF0;
  border: 1px solid #3DBFF0;
}

.tab--about  .tablinks--about {
  background: #fff;
  border-radius: 0.25rem;
  color: #000000;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tabcontent--about{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #f8f9fd !important;
}

/* Style the buttons inside the tab */
.tab--about button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab--about button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab--about button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent--about {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*the text in d about page*/
.someKindaText {
  font-weight: 600 !important;
  font-size: 1.5rem;
  color: #000000;
}


/*about gallery*/

.gallery-heading{
  padding-left: 5rem;
}

.gallery-heading h3{
  color: #3DBFF0;
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Helvetica', Arial, sans-serif;
}

.gallery-underline{
  width: 5rem;
  height: .2rem;
  background-color: #3DBFF0;
  margin: 0 1rem 1rem;
}

.blog-img, .user-img {
  width: 100%;
}

.work--gallery {
  display: block;
  width: 95%;
  margin: auto;
  border-radius: 0.5rem; 
  height: 15rem;
  margin-bottom: 0.5rem;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.icon--gallery {
  position: relative;
  border:none;
  background: transparent;
  left: 83%;
  bottom: 18%;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fa-expand {
  font-size: 2rem;
  color: rgb(40, 50, 50);
}

.icon--gallery:hover, .icon--gallery:focus  {
  transform: scale(1.2);
  border: none;
  outline: none;
}


.text--gallery {
  text-align: center;
  margin-top: -2rem;
  text-transform: capitalize;
}


/*modal for gallery*/

/* The Modal (background) */
#gallery .modal {
  display: none;
  position: fixed;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: grey;
}

/* Modal Content */
#gallery .modal-content {
  position: relative;
  background-color: rgb(40, 45, 50);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  transition: all 0.3s ease;
}

/* The Close Button */
#gallery .close {
  color: white;
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 3rem;
  font-weight: bold;
}

#gallery .close:hover,
#gallery .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
#gallery .mygallery {
  display: none;
  margin: auto;
  padding: 0.25rem;
}

.modal-img {
  height: 30rem;
}

/* Next & previous buttons */
#gallery .prev,
#gallery .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
#gallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#gallery .prev:hover,
#gallery .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
#gallery .caption-container {
  text-align: center;
  background-color: grey;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0 !important;
}

#gallery .caption {
  color: white;
  font-size: 1.5rem !important;
  font-weight: 550;
  margin: 0.5rem 0;
}

#gallery .img-thumbnails {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

#gallery img.demo {
  opacity: 0.7;
  height: 6rem;
  width: 8rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

#gallery .active,
#gallery .demo:hover {
  opacity: 1;
}


/*team*/
.dark2{
  background-color: #3dc0f04b;
  overflow: hidden;
}

.team {
  margin: 1rem 0 3rem;
}

.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 0.8rem;
  font-weight: 700;
  color: #3DBFF0;
  margin-bottom: 0.5rem;
}

.text-black {
  color: #000 !important;
}

.team-bold {
  font-weight: 600 !important;
  font-size: x-large;
  color: #000000;
}

.img-fluid-2 {
  max-width: 100%;
  height: 25rem;
  width: 20rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}


/* review*/
.dark2{
  background-color: #3dc0f04b;
  overflow: hidden;
}

.review-text{
  color: #3DBFF0;
  width: 80%;
  margin: auto;
}

.review-text h2{
  text-transform: capitalize;
  color: #000;
  margin-bottom: .3rem
}

.review-text h5{
  text-transform: capitalize;
  color: #000;
  opacity: .80;
}

.review-text p{
  text-transform: capitalize;
  color: #000;
  opacity: .75;
}

.review-img{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 0.75rem
}


/* facts */

.facts {
  padding: 4rem 4rem 1rem;
}

.fact-text {
  display: table-cell;
  padding-right: 2.5rem;
  vertical-align: middle;
}
  
.fact-text .fact-title{
  color: #1c1e21;
  font-size: 1.5rem !important;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.fact-text .facts-list{
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  opacity: .9;
}

/*pacts*/
.pact-section {
  line-height: 1.5;
  padding: 1rem 4rem 1rem;
}

/*App*/
.app-section {
  padding: 1rem 4rem 2rem;
}

.app-text{
  display: table-cell;
  vertical-align: middle;
  width: 90%;
  margin: auto;
}

.app-text .app-title{
  color: #1c1e21;
  font-size: 1.75rem;
  font-weight: 550;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.app-text .app-paragraph{
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}

.app-text .app-conditions{
  font-size: 0.75rem;
  line-height: 1.1rem;
  margin-bottom: 1.5rem;
  opacity: .3;
}

.app-section .carousel__list {
  padding-left: 0;
}

.app-text .app-list ul{
  list-style: none;
}

.app-text .app-list li{
font-size: initial;
line-height: 3rem;
}

.app-text .app-list a{
color: #3DBFF0;
}

.app-text .app-list li{
vertical-align: middle;
}


/*media queries*/

@media screen and (max-width: 991px){
    
  .about-section {
      padding: 1rem 2rem;
  }

  .about-img{
      width: 90%;
  }
     
  .about-section .about-text {
      padding-top: 3rem;
  }

  .review-img{
      width: 12rem;
      height: 12rem;
  }

  /*about gallery*/

  .gallery-heading{
    padding-left: 2rem;
  }

  .icon--gallery {
    left: 75%;
    bottom: 20%;
    height: 2rem;
    width: 2rem;
  }

  .gallery-underline{
    margin: 0 1rem 0.5rem;
  }

  .work--gallery {
    width: 95%;
    margin: auto;
    height: 10rem;
  }
  

  /*modal for gallery*/

  /* The Modal (background) */
  #gallery .modal {
    padding-top: 2rem;
  }

  /* Modal Content */
  #gallery .modal-content {
    width: 85%;
    max-width: 800px;
  }

  /* The Close Button */
  #gallery .close {
    top: 2%;
    right: 2%;
    font-size: 2.5rem;
  }

  .modal-img {
    height: 20rem;
  }

  /* Next & previous buttons */
  #gallery .prev,
  #gallery .next {
    top: 25%;
  }

  /* Caption text */
  #gallery .caption-container {
    padding: 0.25rem 0.75rem;
  }

  #gallery img.demo {
    height: 5rem;
    width: 7rem;
    margin-right: .75rem;
  }

  .img-fluid-2 {
    max-width: 100%;
    height: 20rem;
    width: 15rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 767px){

  .about-img {
    width: 80%;
    height: 25rem;
    margin: 0rem auto;
    background-color: #fff;
  }

  .about-section .about-text {
    padding-top: 0.5rem !important;
    width: 75%;
    margin:auto ;
  }

  .dark2 {
      padding: 1.5rem 0;
  }

  .review-text{
      color: #3DBFF0;
      width: 100%;
      margin: auto;
  }

   /*about gallery*/

  .gallery-heading{
    margin-top: 2rem;
    padding-left: 2rem;
  }

  .work--gallery {
    width: 80%;
    margin: auto;
    height: 12rem;
  }

  .icon--gallery {
    height: 2.2rem;
    width: 2.2rem;
  }

  /*modal for gallery*/

  /* The Modal (background) */
  #gallery .modal {
    padding-top: 1.5rem;
  }

  /* Modal Content */
  #gallery .modal-content {
    width: 87%;
    max-width: 700px;
  }

  .modal-img {
    height: 18rem;
  } 

  .facts {
    padding: 4rem 3rem 1rem;
  }

  .pact-section {
    padding: 1rem 3rem 1rem;
  }

  .app-section {
    padding: 2rem 3rem 1rem;
  }
  
  .app-title {
    padding-top: 1rem;;
    text-align: center;
  }

}

@media (max-width: 576px){

  .about-section .about-text {
    width: 80%;
  }

  .about-section  {
    padding: 0rem 1rem;
  }

  .about-img{
    width: 90%;
    height: 20rem;
  }

  .gallery-heading{
    margin-top: 1rem;
    padding-left: 2rem;
  }

  /* The Modal (background) */
  #gallery .modal {
    margin-top: 5rem;
    padding-top: 1rem;
  }

  /* Modal Content */
  #gallery .modal-content {
    padding: 0.25rem;
    max-width: 450px;
  }

  /* The Close Button */
  #gallery .close {
    right: 1%;
    font-size: 1.8rem;
  }

  .modal-img {
    height: 12rem;
  }

  /* Next & previous buttons */
  #gallery .prev,
  #gallery .next {
    top: 20%;
    padding: 0.25rem;
    font-size: 2rem;
  }

  /* Caption text */
  #gallery .caption-container {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 !important;
  }

  #gallery .caption {
    font-size: 1.2rem !important;
    margin: 0.25rem 0;
  }

  #gallery .img-thumbnails {
    padding: 0.25rem 0.5rem;
  }

  #gallery img.demo {
    height: 4rem;
    width: 6rem;
    margin-right: 0.75rem;
  }

  .dark2 {
    padding: 1rem 0;
  }

  
  .facts {
    padding: 3rem 1.5rem 1rem;
  }

  .pact-section {
    padding: 1rem 2rem 1rem;
  }

  .app-section {
    padding: 1rem 2rem 1rem;
  }

  .app-section .carousel__list {
      padding-left: 0;
      margin-top: 2rem !important;
  }
  
  .app-text .app-title{
      margin-top: 1rem;
      text-align: center;
  }

  .app-text{
    width: 100%;
  }
    
}