
/*blog single*/
.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px;
  }
  .about-author .desc h3 {
    font-size: 24px;
  }
  .comment-list {
    padding: 0;
    margin: 0;
  }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
  }
  .comment-list li .vcard {
    width: 80px;
    float: left;
  }
  .comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
  }
  .comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
  }
  .comment-list li .comment-body h3 {
    font-size: 20px;
  }
  .comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
  }
  .comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    font-weight: 400;
    border-radius: 4px;
  }
  .comment-form-wrap {
    clear: both;
  }
  .bg-light {
    background: #f8f9fd !important;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .search-form .form-group {
    position: relative;
  }
  .search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
  }
  .categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
  }
  .categories li a, .sidelink li a {
    display: block;
    color: #1a1a1a;
  }
  .categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
  }
  
  .sidebar-box {
    margin-bottom: 40px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
  }
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 3px;
  }
   .blog-img, .user-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .sidebar-box :last-child {
    margin-bottom: 0;
  }
  .block-21 .text {
    width: calc(100% - 100px);
  }
  .block-21 .text .heading--blog-single {
    font-size: 16px;
    font-weight: 400;
  }
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  .block-21 .text .heading a {
    color: #000000;
  }
  .sidebar-box :last-child {
    margin-bottom: 0;
  }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
  }
  .block-21 .text .meta > div a {
    color: gray;
  }
  .bio-img--blog_single{
    height: auto; 
  width: auto;
  height: 150px;
    width: 350px;
   }

   .img-post {
    max-width: 100%;
    height: 25rem; 
    object-fit: cover;
   }


/*media queries */

@media screen and (max-width: 1024px) {
    
    .img-post {
        height: 22rem; 
    }
}

@media screen and (max-width: 767px) {
  .img-post {
      padding: 0.5rem;
    height: 18rem; 
    margin: auto !important;
  }
}

@media screen and (max-width: 576px) {
    
    .img-post {
        height: 16rem; 
    }
}