.login {
    margin-top: 5rem;
    padding: 2rem 4rem;
    text-align: center;
}

.login h3 {
    margin-bottom: 1.5rem;
}

.inpt, input[type=password] {
    display: block;
    margin: auto;
    width: 45%;
    height: 2.5rem;
    padding: 0.3rem;
    border: 1px solid lightblue;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
  
  .inpt:focus,  input[type=password]:focus{
    border: 2px solid lightblue;
    outline: none;
  }

  
  form .btn {
    border-radius: 1rem;
    width: 25%;
  }
  
  
  @media screen and (max-width: 1024px) {
      
    .inpt, input[type=password] {
      width: 50%;
    }
    
  }
  
  
  @media screen and (max-width: 991px) {
    
    .inpt, input[type=password] {
      width: 60%;
    }
  
  }
  
  
  @media screen and (max-width: 767px) {
    
    .login {
        margin-top: 4rem;
    }
    
    .inpt, input[type=password] {
      width: 70%;
    }

    form .btn {
        width: 30%;
    }
    
  }
  
  
  @media screen and (max-width: 576px) {
    
    .login {
        padding: 2rem;
    }

    .inpt, input[type=password] {
      width: 90%;
    }

    form .btn {
        width: 40%;
    }
    
  
  }